.login-content {
    background: #ffffff;
 
    .logo-row {
        padding-top: 5%;
        padding-bottom: 2%;
    }
 
    .login-box {
        background: #ffffff;
        padding: 15% 3% 5% 3%;
        margin: 1% 2% 0% 2%;
        -webkit-box-shadow: 2px 2px 60px rgba(51, 51, 51, 0.1);
        box-shadow: 2px 2px 60px rgba(51, 51, 51, 0.1);
    }
 
    .form {
        font-size: 1.3em;
        margin-bottom: 15%;
    }

    .label-md,.login {
        color: #999;
        margin-top: -15%;
    }

    .list-md .item-input:last-child {
        border-bottom: 1px solid color($colors, primary, base)!important;
    }
    
    .signup-col {
       margin: 0px 16px 0px 16px;
       padding-bottom: 20px;
    }    
 
    .submit-btn {
        background: #019fff;
        border-radius: 30px !important;
        padding: 10%;
        margin-top: 5%;
        -webkit-box-shadow: 2px 2px 60px rgba(51, 51, 51, 0.1);
        box-shadow: 2px 2px 60px rgba(0, 147, 216, 0.35);
    }
 
    .register-btn {
       color: #ffffff;
       font-size: 0.8em;
    }
}
 