
<div>
    <ion-toolbar class="bar bar-header bar-positive" color="primary">
        <ion-title>{{Title}}</ion-title>

        <ion-buttons slot="start">
            <ion-menu-button  menuToggle="left" *ngIf="isAuthenticated()">
                <ion-icon name="menu"></ion-icon>    
            </ion-menu-button>
        </ion-buttons>

        <ion-buttons slot="end">
            <ng-container *ngFor="let lang of langs">
                    <ion-button  *ngIf="Showlanguage(lang)" end clear (click)="togglelanguage(lang)">
                        {{lang}}
                    </ion-button>
            </ng-container>
        </ion-buttons>

        <ion-buttons slot="end">
            <ion-button id="logoutbutton" *ngIf="isAuthenticated()" end clear (click)="logout()" >
                <ion-icon name="exit"></ion-icon>
            </ion-button>
        </ion-buttons>          
    </ion-toolbar>
</div>

