.login-content {
    background: #ffffff;
 
    .logo-row {
        padding-top: 5%;
        padding-bottom: 2%;
    }
 
    .login-box {
        background: #ffffff;
        padding: 15% 3% 5% 3%;
        margin: 1% 6% 0% 6%;
        -webkit-box-shadow: 2px 2px 60px rgba(51, 51, 51, 0.1);
        box-shadow: 2px 2px 60px rgba(51, 51, 51, 0.1);
    }
 
    .form {
        font-size: 1.3em;
        margin-bottom: 15%;

        &.item {
            border-bottom: solid var(--ion-color-secondary);
            --ion-color-success: none;
        }

        &.item:focus-within {
            border-bottom: solid var(--ion-color-primary);
        }
    }

    .label-md,.login {
        color: #999;
        margin-top: -15%;
    }
    
    .signup-col {
       margin: 0px 16px 0px 16px;
       padding-bottom: 20px;
    }    
 
    .submit-btn {
        --padding-start: 10%;
        --padding-end: 10%;
        --padding-top: 10%;
        --padding-bottom: 10%;
        --background: #019fff;
        --border-radius: 30px;
        --box-shadow: 2px 2px 60px rgba(0, 147, 216, 0.35);
    }
 
    .register-btn {
       color: #ffffff;
       font-size: 0.8em;
    }
}
 