<!--
  Generated template for the list page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <layoutheader Title="Sampledata"></layoutheader>
  <header class="header-attributes">
    <span class="header-span item item-block item-md">
      <div class="item-inner">
        <div class="input-wrapper">
          <ion-label class="label label-md">
            <ion-grid class="header-grid">
              <ion-row> 
                <ion-col class="crop">{{'sampledatamanagement.sampledata.name'| translate}}</ion-col>
                <ion-col class="crop">{{'sampledatamanagement.sampledata.surname'| translate}}</ion-col>
                <ion-col class="crop">{{'sampledatamanagement.sampledata.age'| translate}}</ion-col>
                <ion-col class="crop">{{'sampledatamanagement.sampledata.mail'| translate}}</ion-col>
              </ion-row>
            </ion-grid>
          </ion-label>
        </div>
      </div>
    </span>
  </header>
</ion-header>
<ion-content padding>
  <ion-refresher (ionRefresh)="doRefresh($event)">
      <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-list>
    <ion-item-sliding *ngFor="let sampledata of sampledatas; let i = index">
      <ion-item [class.selected]="i === selectedItemIndex" (click)="enableUpdateDeleteOperations(i)" >
        <ion-grid>
          <ion-row>
            <ion-col>{{sampledata.name}}</ion-col>
            <ion-col>{{sampledata.surname}}</ion-col>
            <ion-col>{{sampledata.age}}</ion-col>
            <ion-col>{{sampledata.mail}}</ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
      <ion-item-options icon-start (ionSwipe)="setSelectedItemIndex(i);deleteSelectedSampledata()">
        <button color="danger" ion-button expandable (click)="setSelectedItemIndex(i);deleteSelectedSampledata()">
          <ion-icon name="trash"></ion-icon>
        </button>
      </ion-item-options>
      <ion-item-options side="left" (ionSwipe)="setSelectedItemIndex(i);updateSelectedSampledata()">
        <button ion-button color="secondary" ion-button expandable (click)="setSelectedItemIndex(i);updateSelectedSampledata()">
          <ion-icon name="brush"></ion-icon>
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
    <ion-infinite-scroll *ngIf="infiniteScrollEnabled" (ionInfinite)="doInfinite($event)">
      <ion-infinite-scroll-content></ion-infinite-scroll-content>
    </ion-infinite-scroll>
  <ion-fab bottom right>
    <button ion-fab color="blue">
      <ion-icon name="arrow-dropright"></ion-icon>
    </button>
    <ion-fab-list side="top">
      <button ion-fab class="fabButton" (click)="createSampledata()" >
        <ion-icon name="add-circle"></ion-icon>
      </button>
      
      <button ion-fab (click)="updateSelectedSampledata()" [disabled] = deleteModifiedButtonsDisabled  > 
        <ion-icon name="brush"></ion-icon>
      </button>
    
      <button ion-fab (click)="deleteSelectedSampledata()" [disabled] = deleteModifiedButtonsDisabled >
        <ion-icon name="trash"></ion-icon>
      </button>
      
      <button ion-fab (click)="searchSampledatas()" >
        <ion-icon name="search"></ion-icon>
      </button>
    </ion-fab-list>
  </ion-fab>


</ion-content>
