
  <div >
    <ion-navbar class="bar bar-header bar-positive" color="primary">

                  <ion-title>{{Title}}</ion-title>

                  <button ion-button  menuToggle="left" *ngIf="isauthenthicated()">
                    <ion-icon name="menu"></ion-icon>    
                  </button>

                  
                  <ion-buttons end>
                  <button id="Spanishbutton" *ngIf="currentlanguage('EN')"  ion-button end clear (click)="togglelanguage('ES')" >
                      
                      <ion-icon name="flag">
                          <label> ES </label>  
                      </ion-icon>

                  </button>
                  <button id="Englishbutton" *ngIf="currentlanguage('ES')"  ion-button end clear (click)="togglelanguage('EN')" >
                      
                  <ion-icon name="flag">
                      <label> EN </label>
                  </ion-icon>


                  </button>
                  <button id="logoutbutton" *ngIf="isauthenthicated()"  ion-button end clear (click)="logout()" >
                      <ion-icon name="exit"></ion-icon>
                  </button>

                  </ion-buttons>

                  
    </ion-navbar>
  </div>

