page-welcome {  
    align-items: center;
}

.DivLogo {
    width: 100%;
    height: 20%;
}

.CapLogo {
    width: 100%;
    height: 100%; 
    background: transparent;
}

ion-content .div-text{
    margin-left: 4%;
    margin-right: 4%;
}